.home__about > h2{
    text-align: center;
    text-transform: uppercase;
    color: tomato;
    letter-spacing: 2px;
    padding: 20px;
}
.home__about-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.home__about-content{
    margin: 20px;
    max-width: 450px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    align-items: center;
    text-align: center;
    background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.home__about-content > h3{
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;
    color: white;
}
.home__about-content > p{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2;
  
}