.stats{
    margin: 20px;
    padding: 40px;
    background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.stats > h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;

}
.stats__content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
}
.stats__container{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.stats__container >h3{
    font-size: 20px;
 color: white;
 text-transform: uppercase;
}